<div class="logo-container">
  <img src="assets/logo.png" class="logo">
</div>

<!-- My Intro -->
<div class="window1-container">
  <div class="close"></div>
  <div class="maximize"></div>
  <div class="minimize"></div>
</div>
<div class="window2-container">
  <div class="window2-content1">
    <div class="intro-text1">
      <a class="content1-header"> Hello! </a>
      <a> My name is Abronz Vizcarra. I am a Software Developer graduate and a gamer.</a>
    </div>
    <div class="btns-container">
      <div class="button1"><a>My Projects</a></div>
      <div class="button2"><a>My Skills</a></div>
      <div class="button3"><a>My Awards and Certifications</a></div>
      <div class="button4"><a>My Contacts</a></div>
    </div>
    <div class="intro-text2">
      <a class="text1"> Feel free to explore my website or even send me a message below.</a>
    </div>
  </div>
  <div class="text-box">
    <input placeholder="Type something here..">
    <div class="send-button">
      <a>SEND</a>
    </div>
  </div>
</div>

<!-- My Projects -->
<div class="window3-header">
  <a>MY PROJECTS</a>
</div>
<div class="window3-container">
  <div class="projects-container">

    <div class="project1-container">
      <div class="project-header"><a href="https://e-bridge.vercel.app/home"><img src="assets/project1.png" class="project-picture"></a></div>
      <div class="project-content">
        <div class="project-title">E-Bridge</div>
        <div class="project-desc">
          <a>A web-based social platform made for students to communicate online.</a>
          <div>
            <a>Skills and Technologies used:</a>
          </div>
          <ul>
            <li>Javascript</li> <li>Angular</li> <li>NodeJS</li>
            <li>WebSockets</li> <li>Agile Methodology</li> <li>MongoDB</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="project2-container">
      <div class="project-header"><a href="https://chill-sync.vercel.app/home"><img src="assets/project2.png" class="project-picture"></a></div>
      <div class="project-content">
        <div class="project-title">ChillSync</div>
        <div class="project-desc">
          <a>A website that synchronizes any given youtube video for all clients to enjoy.</a>
          <div>
            <a>Skills and Technologies used:</a>
          </div>
          <ul>
            <li>Javascript</li> <li>Angular</li> <li>NodeJS</li>
            <li>WebSockets</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="project3-container">
      <div class="project-header"><a href="https://github.com/abronz/TicTacToe-Game"><img src="assets/project3.png" class="project-picture"></a></div>
      <div class="project-content">
        <div class="project-title">Tic Tac Toe Game</div>
        <div class="project-desc">
          <a>A simple game for two players.</a>
          <div>
            <a>Skills and Technologies used:</a>
          </div>
          <ul>
            <li>C++</li> <li>OpenGL</li> <li>Automation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- My Skills -->
<div class="window4-header">
  <a>MY SKILLS</a>
</div>
<div class="window4-container">
  <div class="skill">Javascript</div>   <div class="skill">HTML</div>   <div class="skill">Java</div>   <div class="skill">C</div>
  <div class="skill">C++</div> <div class="skill">C#</div> <div class="skill">Git</div>   <div class="skill">NodeJS</div>
  <div class="skill">JSON</div> <div class="skill">JQuery</div> <div class="skill">Xamarin</div>   <div class="skill">Ionic</div>
  <div class="skill">Swift</div> <div class="skill">ReactJS</div> <div class="skill">React Native</div>   <div class="skill">Angular</div>
  <div class="skill">OpenGL</div> <div class="skill">PostgreSQL</div> <div class="skill">Oracle SQL</div>   <div class="skill">Automation</div>
  <div class="skill">MongoDB</div> <div class="skill">SQL</div> <div class="skill">Agile Approach</div> <div class="skill">Linux System Programming</div>


</div>

<!-- My Certs -->
<div class="window5-container" [ngStyle]="{background: 'url(assets/background1.png)'}">
  <div class="window5-left">
    <div><a>MY ACCOMPLISHMENTS //</a></div>
  </div>

  <div class="window5-right">
    <div class="award">
      <a class="award-header">Seneca College Advanced Diploma</a><a class="award-desc"> Computer Programming and Analyst taken</a><a class="award-date"> from January 2020 to December 2021 </a>
    </div>
    <div class="award">
      <a class="award-header">Multiple President’s Honour List</a><a class="award-desc"> on taking Computer Programming and Analyst </a><a class="award-date"> from January 2020 to December 2021 </a>
    </div>
    <div class="award">
      <a class="award-header">React Native Udemy Certificate</a><a class="award-desc"> “The Complete React Native + Hooks Course” from Udemy </a><a class="award-date"> completed on May 2022 </a>
    </div>
    <div class="award">
      <a class="award-header">Certificate of Merit</a><a class="award-desc"> “Certificate of Merit in Recognition of Outstanding Contributions” from Friesens </a><a class="award-date"> received on June 2016 </a>
    </div>
    <div class="award">
      <a class="award-header">Basketball Champions</a><a class="award-desc"> Basketball team champions of Keepers’ Club Int’l Spring League 2015 </a><a class="award-date"> received on July 2016 </a>
    </div>
  </div>
</div>
