/* Animation Timings */
.logo {
  animation-name: start-logo;
  animation-duration: 2s;
}

.window1-container, .window2-container {
  animation-name: start-after;
  animation-duration: 2s;
}

.intro-text1 {
  animation: start-after 3s;
}

.button1, .button2, .button3 {
  animation: start-after 4s;
}

.intro-text2 {
  animation: start-after 5s;
}

.window3-header a {
  animation: start-after 5s;
}

.projects-container , .window4-header, .window4-container {
  animation: start-after 5s;
}

@keyframes start-logo {
  0%   { width: 50%; }
  100% { width: 90px;}
}
@keyframes start-after {
  0%   { opacity: 0; }
  90% { opacity: 0;}
  100% { opacity: 1;}
}
/* ----------------- */

.logo {
  width: 90px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.window1-container, .window2-container {
  display: flex;
  padding: 5px;
  border: 1px solid white;
}

.window1-container {
  flex-direction: row-reverse;
  background-color: rgba(78, 78, 78, 0.76);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.window1-container .minimize, .maximize, .close {
  height: 14px;
  width: 14px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.minimize {
  background-color: rgb(255, 238, 0);
}
.maximize {
  background-color: rgb(73, 255, 73);
}
.close {
  background-color: red;
}

.window2-container {
  background-color: rgba(44, 44, 44, 0.76);
  border-top: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  flex-direction: column;
  padding: 0px;
}

.window2-content1 {
  height: 100%;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
}

.content1-header {
  font-size: 30px;
}

.button1, .button2, .button3 {
  border: 1px solid grey;
  border-radius: 8px;
  width: auto;
  max-width: 250px;
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
}

.button1:hover, .button2:hover, .button3:hover {
  background-color: rgba(163, 163, 163, 0.452);
  transition: 0.5s;
}

.intro-text2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-box {
  margin-top: 80px;
  padding-left: 25px;
  border-top: 1px solid grey;
  display: flex;
}

.text-box input {
  width: 100%;
  color: white;
  outline: none;
  border: 0px;
  margin: 0px;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none !important;
}

.text-box .send-button {
  cursor: pointer;
  border-left: 1px solid grey;
  font-size: 12px;
}

.window3-header {
  margin-top: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(51, 49, 49, 0.404);
  padding-top: 10px;
  font-size: 30px;
}

.window3-container {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(51, 49, 49, 0.404);
}

.projects-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project1-container, .project2-container, .project3-container {
  width: 300px;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(94, 94, 94, 0.158);
  border: 1px solid black;
  border-radius: 5px;
}

.project-picture {
  object-fit: cover;
  width: 300px;
  height: 250px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.363);
}
.project-title {
  border-bottom: 1px solid white;
}
.project-desc {
  font-size: 11px;
}

.project-content {
  margin-left: 5px;
  margin-right: 5px;
}

.project-content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.window4-header {
  margin-top: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.window4-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.skill {
  margin: 10px;
}

/* Responsive Coding */
@media screen
  and (min-device-width: 1441px)
  {
    .window1-container, .window2-container {
      margin-left: 200px;
      margin-right: 200px;
    }
    .window4-header , .window4-container {

      margin-left: 400px;
      margin-right: 400px;
    }
}
@media screen
  and (max-device-width: 1440px)
  {
    .window1-container, .window2-container {
      margin-left: 200px;
      margin-right: 200px;
    }
    .window4-header , .window4-container {

      margin-left: 400px;
      margin-right: 400px;
    }
}
@media screen
  and (max-device-width: 768px)
  {
    .window1-container, .window2-container, .window4-header , .window4-container {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 10px;
    }
    .content1-header {
      font-size: 15px
    }
    .window2-content1 {
      margin-left: 10px;
      margin-right: 10px;
    }
}
@media screen
  and (max-device-width: 425px)
  {
    .window1-container, .window2-container, .window4-header , .window4-container {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 10px;
    }
    .content1-header {
      font-size: 15px
    }
    .window2-content1 {
      margin-left: 10px;
      margin-right: 10px;
    }
}
